.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1rem;
    background-color: #1d004b;
    border: 2px solid #1e910f;
    border-radius: 8px
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
}

.navbar a.activo {
    color: #fcd735;
    font-weight: bold;
    border:px solid #4e8b45;
}